/* *****AUTHOR:NEX WAY DEV.
                   THEME:E-COMMERCE WEBSITE***** */
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a,
a:hover {
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
body {
  line-height: 1.6rem;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}


:root {
  --primary-color: #e52165;
  --secondary-color: #0d1137;
  --white-color: #fff;
  --black-color: #000;
}
::-webkit-scrollbar {
  width: 0.3125rem;
}
::-webkit-scrollbar-track {
  background: #fff;
}
::-webkit-scrollbar-thumb {
  background: #e52165;
}

/* header design */

.navbar-toggler {
  border: 0;
  
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
  border: 0;
}
.toggler-icon {
  width: 30px;
  height: 3px;
  background-color: var(--primary-color);
  display: block;
  transition: all 0.2s;
}
.middle-bar {
  margin: 5px auto;
  

}
.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
  
}
.navbar-toggler .middle-bar {
  opacity: 0;
  filter: alpha(opacity=0);
}
.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 10%;
}
.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}
.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  filter: alpha(opacity=100);
}
.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}
.navbar-toggler.collapsed .toggler-icon {
  background-color: var(--secondary-color);
}
/* NAVBAR EDIT END */
.navbar a {
  font-weight: 500;
  color: #222 !important;
}
.navbar a:hover {
  font-weight: 500;
  color: var(--primary-color) !important;
}
.navbar {
  background: white !important;
  padding: 15px 15px !important;
  z-index: 10;
}
.navbar h5{
  font-size: 28px;
}
@media (max-width: 991.98px) {
  .navbar h5 {
    font-size: 20px;
  }
}
@media (max-width: 1632px) {
  .navbar ul {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
  }
}

.nav-item .nav-link {
  padding: 0.5rem 1rem !important;
}
/* header design end */

/* slider design */
.slider {
  position: relative;
  overflow: hidden;
  height: 90vh;
  width: 100vw;
}
.slide {
  position: absolute;

  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.4s ease-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.slide.current {
  opacity: 1;
}
.slide .content {
  position: absolute;

  width: 500px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
  padding: 35px;
  padding-bottom: 50px;
}
@media (max-width: 610px) {
  .slide .content {
    width: 380px;
  }
}

.slide .content p {
  color: var(--secondary-color);
}
.slide.current .content {
  opacity: 1;
}
button#next {
  position: absolute;
  top: 50%;
  right: 15px;
}
button#prev {
  position: absolute;
  top: 50%;
  left: 15px;
}
.buttons button {
  border: 2px solid #333;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 50%;
  outline: none;
  display: none;
}

.buttons button:hover {
  background-color: #fff;
  color: #333;
}

.slide:first-child {
  background: url('../images/showcasetwoo.jpg') no-repeat center center/cover;
}

.slide:nth-child(2) {
  background: url('../images/showcase3.jpg') no-repeat center center/cover;
}

.bt {
  text-decoration: none;
  padding: 15px 25px;
  margin-top: 110px;

  position: relative;
}

.bt-2 {
  color: var(--black-color) !important;
  font-weight: 500;
}
.bt-2::after,
.bt-2::before {
  border: 3px solid #000;
  content: '';
  position: absolute;
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  left: 0;
  bottom: 0;
  z-index: 1;
  transition: transform 0.3s ease;
}
.bt-2:hover::after {
  transform: translate(-5px, -5px);
}
.bt-2:hover::before {
  transform: translate(5px, 5px);
}
/* slider design end */
.title h2::before {
  position: absolute;
  content: '';
  width: 4px;
  height: 50px;
  background-color: var(--primary-color);
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
}
.products .nav-tabs {
  border: 0;
  justify-content: center;
}
.products .nav-tabs .nav-link {
  border: 1px black solid;
  border-radius: 20px;
  padding: 10px 20px;
  color: #000 !important;
  text-transform: uppercase;
  margin: 4px;
}
.products .nav-tabs .nav-link:hover {
  background-color: var(--primary-color) !important;
  color: var(--white-color) !important;
  border: var(--white-color) !important;
}
.cart_b {
  border-radius: 20px;
  color: var(--black-color);
  background-color: transparent;
  padding: 5px 10px;
  border: 1px solid #000;
}
.cart_b:hover {
  color: var(--white-color) !important;
  background-color: var(--secondary-color);
}
.new_collection {
  margin-top: 70px !important;
}

/* grand sale offer */
.grand_sale {
  background: rgba(0, 0, 0, 0.2) url(../images/grand_sale.jpg);
  height: 60vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  background-blend-mode: darken;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  margin-top: 100px !important;
}
.grand_sale .discount {
  font-size: 20px;
}
.grand_sale .sales {
  font-weight: 400;
}
.g_button {
  border-radius: 20px;
  color: var(--black-color);
  background-color: var(--white-color);
  padding: 5px 20px;
  border: 1px solid #fff;
  margin-top: 15px;
}
.g_button:hover {
  color: var(--white-color);
  background-color: var(--secondary-color);
  border: 1px solid #0d1137;
}

/* LATEST BLOG */

/* ABOUT US */
.About_us {
  margin-top: 100px !important;
}
.popular {
  margin-top: 90px !important;
}

.best_selling img {
  width: 50px;
  margin-bottom: 10px;
}
#newsletter {
  margin-bottom: 100px !important;
}
#newsletter .input-group {
  max-width: 500px;
}
#newsletter .form-control {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
#newsletter .n_b {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 10px 20px;
  color: #fff;
  background-color: var(--secondary-color);
  border: none;
}

#newsletter .n_b:hover {
  background-color: rgb(24, 23, 23);
}
.section-social {
  margin-left: -45px;
}
.section-social .social-list {
  list-style: none;
  display: flex;
}
.section-social .social-list li:nth-child(1) .social-links:hover .bi {
  color: #0e76a8;
}
.section-social .social-list li:nth-child(2) .social-links:hover .bi {
  color: #3b5999;
}
.section-social .social-list li:nth-child(3) .social-links:hover .bi {
  color: #c32aa3;
}
.section-social .social-list li:nth-child(4) .social-links:hover .bi {
  color: #00acee;
}

.section-social .social-list .social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 20%;
  background-color: #f8f8f8;
  margin: 5px;

  text-decoration: none;
  border: 2px solid #fff;
  color: rgb(20, 80, 102);
  font-size: 1.3rem;
  box-shadow: inset 0px 0px 5px rgba(255, 255, 255, 0.822),
    0px 3px 10px rgba(0, 0, 0, 0.424);
  transition: 0.4s;
}
.section-social .social-list .social-links:hover {
  border-radius: 50%;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.678);
}
.section-social .social-list .social-links:hover .bi {
  transform: scale(1.4);
}
.bi {
  transition: 0.4s;
}

.footer1 {
  border-top-left-radius: 125px;
}
.footer1 a {
  text-decoration: none;
  color: #fff;
}
.footer1 a:hover {
  color: #ddd;
}
.reveal {
  position: relative;
  transform: translateX(-150px);
  opacity: 0;
  transition: all 2s ease;
}
.reveal.active {
  transform: translateX(0px);
  opacity: 1;
}
.real {
  position: relative;
  transform: translateX(150px);
  opacity: 0;
  transition: all 2s ease;
}
.real.active {
  transform: translateX(0px);
  opacity: 1;
}
.wonder {
  position: relative;

  opacity: 0;
  transition: all 2s ease;
}

.wonder.active {
  opacity: 1;
}
.user_info {
  display: none;
  padding-top: 12px;
  padding-left: 50px;
  width: 300px;
  right: 90px;
  top: 60px;
  position: absolute;
  background-color: #fff;
  box-shadow: #ccc 0.1em 0.1em 0.8em 0em;
  z-index: 50;
  text-align: center;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1632px) {
  .user_info {
    left: 0;
    right: 0;
    margin: auto;
  }
}
.user_icon {
  display: inline-block;
  position: absolute;
  width: 33px;
  top: 0px;
  right: 62px;
  margin-right: 20px;
  border-radius: 50%;
  z-index: 50;
  margin-top: 33px;
}

@media (max-width: 1632px) {
  .user_icon {
    right: 50%;
    left: 50%;
  }
}

.user_picture img {
  width: 90px;
  margin-top: 10px;
  margin-right: 70px;
  margin-bottom: 10px;
  border-radius: 50%;
}
.user_details {
  display: inline-block;
  margin-right: 40px;
}
.user_details .user_name {
  display: inline-block;

  font-weight: bold;
  font-size: 18px;
}
.user_details span {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.sign {
  display: inline-block;
  margin-right: 50px;
}
.search_icon {
  display: inline-block;
  position: absolute;
  width: 25px;
  top: 0px;
  right: 180px;
  z-index: 50;
  margin-top: 40px;
}
.search_div {
  display: none;
  background-color: #fff;
  position: absolute;
  width: 50%;
  right: 0;
  left: 0;
  top: 0;
  margin: auto;
  z-index: 1000;
  margin-top: 30px;
}
.search_div input {
  display: inline-block;
  height: 38px;
  z-index: 1000;
}
.search_div input {
  width: 88.9%;
  padding-left: 12px;
  outline: 2px #000 solid;
  z-index: 1000;
}
.search_div button {
  float: right;
  width: 60px;
  height: 41px;
  z-index: 1000;
}

@media (max-width: 1632px) {
  .search_icon {
    left: 50%;
    right: 50%;
    margin-left: -30px !important;
  }
}

.cart_icon {
  display: inline-block;
  position: absolute;
  width: 25px;
  margin-top: 40px;
  top: 0px;
  right: 130px;
  z-index: 50;
}
@media (max-width: 1632px) {
  .cart_icon {
    left: 50%;
    right: 50%;
    margin-left: 40px;
  }
}
.options {
  background-color: black;
  z-index: 50;
}
#preloader{
  background: #fff url(../images/image_process.gif) no-repeat center center;
  background-size: 30%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 999;
}
